@import "tailwindcss";

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-red: #FC4747;
  --color-darkBlue: #10141E;
  --color-blueGrey: #5A698F;
  --color-semiDark: #161D2F;
  --font-outfit: 'Outfit', sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #10141E;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #5A698F;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
